HTML {
  height: 100%;
  xmargin-bottom: 1px;
}
BODY {
  font-size: 12px;  /* Base font 1em */
}
BODY, BODY *,
INPUT, SELECT, TEXTAREA,
.ui-widget INPUT, .ui-widget SELECT, .ui-widget TEXTAREA {
  /*font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Helvetica Neue","Lucida Grande","Lucida Sans Unicode",Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Gill Sans", Arial, sans-serif;
  -ms-box-sizing:padding-box; -moz-box-sizing:padding-box; -webkit-box-sizing:padding-box; -o-box-sizing:padding-box;
}


* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

HR {
  border: 0px;
  color: #ccc;
  background-color: #cdcdcd;
  height: 1px;
  width: 100%;
  text-align: left;
}

H1 {
  font-size: 1.5em;
  color: #000;
  background-color: #fff;
  font-family: Arial, Verdana, sans-serif;
  font-weight: normal;
}
H2 {
  font-size: 1.4em;
  color: #000;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  background-color:transparent;
  line-height:2em;
}
  H2 SMALL {
    font-size:0.8em;
    font-weight: normal;
  }
    H2 SMALL A {
      font-size:0.75em;
    }

H3 {
  color: #000;
  font-size: 1.2em;
  text-align: left;
  font-weight:bold;
  line-height:3.5em;
  padding: 5px;
  margin-top: 5px;
}
    H3 SMALL {
	  font-weight: normal;
	}



P {
  color: #000;
  line-height: 20px;
  padding: 5px;
}


A {
  color: #4d9b12;
  background-color:transparent;
  text-decoration: underline;
}
  A:hover {
	color: #4d9b12;
	text-decoration:underline;
  }



.strikethough {
	text-decoration:line-through;
}



LABEL.link {
  cursor:pointer;
	text-decoration:underline !important;
}
  LABEL.link:hover {
	text-decoration:underline !important;
  }


INPUT[type=button],
INPUT[type=submit] {
	font-size:0.75em;
}


TD { vertical-align:baseline; }



#footer-container {
  clear:both;
  font-size:12px;
  font-family:Verdana, Arial, sans-serif;
}
.right {
  float: right;
  font-size: 100%;
  margin-top: 5px;
  color: #999;
  xbackground-color: #fff;
}
.left {
  float: left;
  font-size: 100%;
  xmargin-top: 5px;
  xcolor: #999;
  xbackground-color: #fff;
}
#main-container ul {
  margin-left: 3.0em;
}



*.invisible {
  visibility:hidden;
}

*.hidden {
  display:none;
}

	BODY.js *.hidden-when-js-enabled 
	{
		display:none;
	}
	BODY.js *.invisible-when-js-enabled 
	{
		visibility:hidden;
	}



*.vertical {
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(90deg);
    writing-mode: tb-rl;    /* IE */
    filter: flipv fliph;    /* IE */
}


*.nowrap {
	white-space:nowrap;
}


#pageHeading {
  margin-top:0.5em;
  text-indent:0.75em;
}

#loginStatus {
  position:absolute;
  top:0.5em;
  right:30em;
}





/* Override ui-tabs styles where necessary: */
DIV#pageTabs.ui-tabs {
	background:transparent; /* Overrides all background styles inherited from jquery-ui */
	border:none;
	padding:0;
}




DIV.tripPage {
  xposition:relative;
}


DIV.tripVersion {
  position:absolute;
  right:1em;
  top:0.2em;
  z-index:1;
}
  DIV.tripVersion LABEL {
    display:inline-block;
    text-align:left;
    font-weight:normal;
    font-size:0.9em;
  }
  DIV.tripVersion SELECT {
    width:10em;
  }





TABLE TH { padding:0.5em; text-align:left; }
TABLE TD { padding:0.5em; }


TABLE TH.left,	TABLE TD.left	{ float:none; text-align:left; }
TABLE TH.right,	TABLE TD.right	{ float:none; text-align:right; }
TABLE TH.number,TABLE TD.number	{ float:none; text-align:right; }



TABLE.flightSchedule {
	xfont-size:0.75em;
	margin:0 0.5em 0.5em 0.5em;
}

	TABLE.flightSchedule TH,
	TABLE.flightSchedule TD {
	  border:none;
	  margin:0;
	  text-align:left;
	  padding:0.2em;
	}






/* Popup "callout" box: */

		.bannerCallout
		{
			width: 700px;
			background-color: #9999ff;
			border: solid 4px #FFFFFF;
			padding: 12px;
			z-index: 5;
		}
		#bannerTarget
		{
			width: 700px;
		}
		.bannerCallout a
		{
			color: #000;
			font-weight: bold;
		}





/* ERROR and NOTICE messages: */

	#messages {
		position:absolute;
		margin:0.5em auto 0 50%;
		left:-30em;	/* Centered using margin, left and width */
		width:60em;
		height:auto;
		top:0px;
		z-index:10000;
	}

		.errorMessage,
		.noticeMessage {
			background-color:#FFEF89;
			border:solid 1px #fff;
			font-size:1.2em;
			padding:0.5em;
			text-align:center;
			-moz-box-shadow: #555 5px 5px 5px;
			-webkit-box-shadow: #555 5px 5px 5px;
		}




/* Display ellipsis where text length exceeds it's container: (Uses special hack in Mozilla) */

  A.ellipsis,
  DIV.ellipsis,
  SPAN.ellipsis,
  P.ellipsis,
  DL.ellipsis > DD > SPAN,
  DL.ellipsis > DD > A,
  UL.ellipsis > LI > A,
  UL.ellipsis > LI > LABEL {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;		/* IE, Safari(WebKit) */
    -o-text-overflow:ellipsis;	/* Opera */
    -ms-text-overflow:ellipsis;	/* IE8 mode */
    -moz-binding:url(/stylesheets/ellipsis-xbl.xml#ellipsis);	/* Mozilla */
  }



/* Hide all H2.errorMessage and H2.noticeMessage elements that may appear in the responses of ajax calls: (Only those in #pageHeader will be visible) */

	#pageContent .errorMessage,
	#pageContent .noticeMessage {
		display:none;
	}





/* LOGIN fields: */

