BODY {
  background:#0795D7 url(/images/backgrounds/page.bg.jpg) no-repeat left top;
}


BODY #pageHeader {
  background-color: transparent;
}

	#pageHeading {
		background-color: transparent;
		color:white;
		font-weight:normal;
	}





	#loginStatus {
		background-color: transparent;
		color:white;
		margin-right:3.85em; /* When hovered, the margin-right is replaced by the 'logout' text */
	}
		#loginStatus #logout {
			color:white;
			cursor:pointer;
			text-decoration:underline;
			display:none; /* Hide until mouse over 'Logged in as' text */
		}

		#loginStatus:hover {
			margin-right:0;
		}

			#loginStatus:hover #logout {
				display:inline-block;
				padding:0;
				width:4.4em;
			}
