


.report-criteria .checkboxList LI.formField {
	
	display:block;
	margin-bottom:0.5em;
	padding:0;
	text-indent:0.5em;
	width:auto;

}

.report-criteria .checkboxList LI.formField LABEL {
	
	width:auto;

}


.report-criteria .formField {
	
	padding:0;

}

	.report-criteria .formField INPUT[type="radio"],
	.report-criteria .formField INPUT[type="checkbox"] {
		
		margin-left:0;

	}
	
	.report-criteria .formField LABEL {
		
		text-indent:0.5em;

	}