/*
  IMPORTANT: This css must be used in conjunction with dynamically generated css
  produced by app/views/timeline_styles/index.css.erb
*/


/* Include DYNAMICALLY GENERATED CSS for classnames "day1..n" and "days1..n" */
@import url("/timeline_styles.css");




/* Override default page.layout.css top/bottom positions for tripBuilder container DIVs: */

	.tripBuilder .sectionContainerTop {
		height:20em;
	}
	.tripBuilder .sectionContainerBottom {
		bottom:0;
		height:auto;
		top:20em;
	}


/* Define the scrollable window: */
.tripBuilder .sectionBody.timelineContent {
	bottom:3em;
	width:100%;
	overflow:scroll;
	overflow-y:hidden;
}

	/* Define scrolling region within timelineContent window: */
	.tripBuilder .timelineContentWide {
		margin-top:1em;
		min-width:100%;
		position:static !important;	/* Overide sectionBody's position:absolute style. */
	}



/* Define the scale accross the top of the timeline: Eg:<dd class="timelineScale"> */
.tripBuilder .timelineScale {
	display:block;
	height:2.5em;
	margin-bottom:0.25em;
}

	.tripBuilder .timelineScale .timelineElement {
		background:#418CE8 url(/images/borders/pixel.fff.gif) left top repeat-y;
		display:inline-block;
		height:2.5em;
		min-width:5em;
		position:absolute;
		color:#fff;
	}

	.tripBuilder .timelineScale .timelineElement.scaleDay {
		text-align:center;
	}
	.tripBuilder .timelineScale .timelineElement.scaleDay .day {
		display:block;
		font-size:0.75em;
		line-height:1.5em;
	}
	.tripBuilder .timelineScale .timelineElement.scaleDay .date {
		display:block;
		font-size:0.75em;
		font-weight:bold;
	}





/* Define the 'swimlanes' for each element type: (flights, accomm etc) Eg: <dd class="timelineScale"> */
.tripBuilder .timelineSwimlane {
	margin-bottom:0.25em;
}


/* Clickable headings to left of timeline elements: (Add Flight, Add Accomm etc) */
.tripBuilder .timelineSwimlaneHead {
	float:left;
	height:2.6em;
	width:5em;
	z-index:1000;
	-moz-border-radius-bottomleft:0.5em;
	-moz-border-radius-topleft:0.5em;
	-webkit-border-radius-bottomleft:0.5em;
	-webkit-border-radius-topleft:0.5em;
	border-radius-bottomleft:0.5em;
	border-radius-topleft:0.5em;	
}

	.tripBuilder .timelineSwimlaneHead A {
		background-position:4.5em center;
		background-repeat:no-repeat;
		background-image:url(/images/icons/icon.add.png);
		display:inline-block;
		font-size:0.75em;
		font-weight:bold;
		height:100%;
		line-height:3.3em;	/* When this is too high it causes a scrollbar on the rhs of the timeline */
		text-decoration:none;
		text-indent:0.25em;
		width:100%;
	}
		.tripBuilder .timelineSwimlaneHead A:hover {
			background-color:transparent;
			text-decoration:underline;
		}

	.tripBuilder .timelineSwimlaneHead.isFlight {
		background-color:#98B4E2;
	}
	.tripBuilder .timelineSwimlaneHead.isGround {
		background-color:#FFFF66;
	}
	.tripBuilder .timelineSwimlaneHead.isAccomm {
		background-color:#D65100;
	}
	.tripBuilder .timelineSwimlaneHead.isMisc {
		background-color:#66CC66;
	}







.tripBuilder .timelineElements {
	display:block;
	height:2.75em;
}

	.tripBuilder .timelineElements .timelineElement {
		display:inline-block;
		height:2.5em;
		position:absolute;
	}



		/* Allow for element stacking: */

		.tripBuilder .timelineElements .timelineElement,
		.tripBuilder .timelineElements .timelineElement.stack1 {
			margin-top:0em;		/* No offset by default */
			margin-left:0em;
		}


			/* Allow for STACKED CONTENT elements: */

			.tripBuilder .timelineElements .timelineElement.stack2 {
				margin-top:0.4em;
				margin-left:1em;
			}

				.tripBuilder .timelineElements .timelineElement.stack3 {
					margin-top:0.8em;
					margin-left:2em;
				}

					.tripBuilder .timelineElements .timelineElement.stack4 {
						margin-top:1.2em;
						margin-left:3em;
					}


			/* Allow for STACKED OVERVIEW elements: */

			.tripBuilder .timelineOverview .timelineElements .timelineElement.stack2 {
				margin-top:0px;
				margin-left:4px;
			}

				.tripBuilder .timelineOverview .timelineElements .timelineElement.stack3 {
					margin-top:0px;
					margin-left:8px;
				}

					.tripBuilder .timelineOverview .timelineElements .timelineElement.stack4 {
						margin-top:0px;
						margin-left:12px;
					}




/* Define the timeline elements themselves: */
.tripBuilder .timelineElements .timelineElement H4 {
	font-size:0.75em;
	font-weight:normal;
	margin-top:8px;
}


.tripBuilder .timelineContent .timelineElements .timelineElement {
	background-repeat:repeat-x;
	background-position:left top;
	border-style:solid;
	border-width:1px;
	min-width:5em;
	opacity:0.9;
	overflow:hidden;
	outline:solid 1px #fff;
	x-moz-box-shadow:#666 -1px 0px 2px 0px;
}

	.tripBuilder .timelineContent .timelineElements .timelineElement.selected {
		outline:dashed 1px #000;
	}

	.tripBuilder .timelineContent .timelineElements .timelineElement:hover {
		outline:none;
		z-index:1000;
		-moz-box-shadow:#666 0 0 2em 0;
	}

		.tripBuilder .timelineContent .timelineElements .timelineElement A {
			text-decoration:none;
		}

		.tripBuilder .timelineContent .timelineElements .timelineElement A:hover {
			background-color:transparent;
			text-decoration:underline;
			opacity:1;
		}

	.timelineElement.isFlight,
	DIV.formField.isFlight,
	DIV.sectionHead.isFlight {
		background-color:#98B4E2;
		background-image:url(/images/timeline/timeline.element.flight.bg.gif);
		border-color:#747D8D;
	}
	.timelineElement.isGround,
	DIV.formField.isGround,
	DIV.sectionHead.isGround {
		background-color:#FFFF99;
		background-image:url(/images/timeline/timeline.element.ground.bg.gif);
		border-color:#BFBF81;
	}
	.timelineElement.isAccomm,
	DIV.formField.isAccomm,
	DIV.sectionHead.isAccomm {
		background-color:#EC9370;
		background-image:url(/images/timeline/timeline.element.accomm.bg.gif);
		border-color:#666;
		/* margin-left:2.5em; */	/* Offset accommodation a little to indicate overnights */
	}
	.timelineElement.isMisc,
	DIV.formField.isMisc,
	DIV.sectionHead.isMisc {
		background-color:#CCFFCC;
		background-image:url(/images/timeline/timeline.element.misc.bg.gif);
		border-color:#859885;
	}


	DIV.formField.isFlight,
	DIV.formField.isGround,
	DIV.formField.isAccomm,
	DIV.formField.isMisc {
		background-position:left center;
		background-repeat:no-repeat;
		line-height:2.5em;
	}





/* .tripElementForm styles: */

	/* .tripElementForm .sectionHead: */
	.sectionContainer.isFlight .sectionHead,
	.sectionContainer.isGround .sectionHead,
	.sectionContainer.isAccomm .sectionHead,
	.sectionContainer.isMisc .sectionHead {
		border-style:solid;
		border-width:1px 1px 0 1px;
		height:3em;
		padding-top:0.5em;
		margin:0.5em 0.5em 0 0.5em;
	}

	/* .tripElementForm .sectionBody: */
	.sectionContainer.isFlight .sectionBody,
	.sectionContainer.isGround .sectionBody,
	.sectionContainer.isAccomm .sectionBody,
	.sectionContainer.isMisc .sectionBody {
		border-style:solid;
		border-width:0px 1px 0 1px;
		margin:0 0.5em 0 0.5em;
		top:3.5em;
	}

	/* .tripElementForm .sectionFoot: */
	.sectionContainer.isFlight .sectionFoot,
	.sectionContainer.isGround .sectionFoot,
	.sectionContainer.isAccomm .sectionFoot,
	.sectionContainer.isMisc .sectionFoot {
		border-style:solid;
		border-width:0px 1px 1px 1px;
		margin:0 0.5em 0 0.5em;
	}

		/* .tripElementForm border colour for each trip_element_type: */
		.sectionContainer.isFlight .sectionHead,
		.sectionContainer.isFlight .sectionBody,
		.sectionContainer.isFlight .sectionFoot {
			border-color:#98B4E2;
		}
		.sectionContainer.isGround .sectionHead,
		.sectionContainer.isGround .sectionBody,
		.sectionContainer.isGround .sectionFoot {
			border-color:#BFBF81;
		}
		.sectionContainer.isAccomm .sectionHead,
		.sectionContainer.isAccomm .sectionBody,
		.sectionContainer.isAccomm .sectionFoot {
			border-color:#666;
		}
		.sectionContainer.isMisc .sectionHead,
		.sectionContainer.isMisc .sectionBody,
		.sectionContainer.isMisc .sectionFoot {
			border-color:#CCFFCC;
		}






/* Set width according to days duration: *//*
	.tripBuilder .timelineElement,
	.tripBuilder .timelineElement.days1 { width:5em }
	...
*/
/* Set x-coordinate according to startDate: *//*
	.timelineElement.day1 { left:5em }
	...
*/



.tripBuilder .timelineOverview {	/* .sectionFoot */
	left:0em;
	height:3em;
	overflow:hidden;
}
	.tripBuilder .timelineOverview .timelineElements:first-child {
		margin-top:0.5em;
	}
	.tripBuilder .timelineOverview .timelineElements {
		height:0.5em;
		width:100%;
		position:relative;
		background-color:#E3F2F9;
	}
		.tripBuilder .timelineOverview .timelineElement {
			border:solid 1px #fff;
			left:auto;
			height:0.5em;
			width:auto;
			min-width:auto;
			x-moz-box-shadow:#999 -1px 0px 1px 0px;
		}
