.costingSheet { background-color:#fff; }

.costingSheet .muted { color:#999; }

.costingSheet .small { font-size:0.8em; }
.costingSheet .large { font-size:1.5em; }


.costingSheet TABLE TD,
.costingSheet TABLE TH {
	padding:0.25em;
}



/* Headings at top of some trip pages: (Eg: Top of Costings Sheet) */

	TABLE.trip-head-overview TH {
		color:#aaa;
		font-weight:normal;
		padding:0.25em;
		padding-left:2em;
		text-align:right;
	}




/* Totals rows: */

.costingSheet TABLE TR.total TH,
.costingSheet TABLE TR.total TD,
.costingSheet TABLE TR TH.total,
.costingSheet TABLE TR TD.total {
	font-weight:bold;
}

	.costingSheet TABLE TR.total TH,
	.costingSheet TABLE TR.total TD,
	.costingSheet TABLE TR TH.total,
	.costingSheet TABLE TR TD.total,
	.costingSheet TABLE THEAD.line-below TH,
	.costingSheet TABLE THEAD.line-below TD,
	.costingSheet TABLE TBODY.line-below TH,
	.costingSheet TABLE TBODY.line-below TD,
	.costingSheet TABLE TFOOT.line-below TH,
	.costingSheet TABLE TFOOT.line-below TD,
	.costingSheet TABLE TR.line-below TH,
	.costingSheet TABLE TR.line-below TD,
	.costingSheet TABLE TR TH.line-below,
	.costingSheet TABLE TR TD.line-below {
		border-bottom:solid 1px #aaa;
	}

	.costingSheet TABLE THEAD.line-above TH,
	.costingSheet TABLE THEAD.line-above TD,
	.costingSheet TABLE TBODY.line-above TH,
	.costingSheet TABLE TBODY.line-above TD,
	.costingSheet TABLE TFOOT.line-above TH,
	.costingSheet TABLE TFOOT.line-above TD,
	.costingSheet TABLE TR.line-above TH,
	.costingSheet TABLE TR.line-above TD,
	.costingSheet TABLE TR TH.line-above,
	.costingSheet TABLE TR TD.line-above,
	.costingSheet TABLE TR.total TH,
	.costingSheet TABLE TR.total TD,
	.costingSheet TABLE TR TH.total,
	.costingSheet TABLE TR TD.total {
		border-top:solid 1px #aaa;
	}









/* COSTING table: */

.costingSheet TABLE.costings {
	xborder:solid 1px #666;
	xborder-width:0 1px 1px 0;
}

.costingSheet .costings TH,
.costingSheet .costings TD {
	xborder:solid 1px #aaa;
	xborder-width:1px 0 0 1px;
}

.costingSheet .costings THEAD TR {
	xbackground-color:#fff;
	xposition:fixed;
}

.costingSheet .costings THEAD TH {
	text-align:center;
}

.costingSheet .costings THEAD TD,
.costingSheet .costings THEAD TH,
.costingSheet .costings TBODY TD,
.costingSheet .costings TFOOT TD,
.costingSheet .costings TFOOT TH {
	width:4em;
}

	.costingSheet .costings THEAD TH:first-child,
	.costingSheet .costings TBODY TH:first-child,
	.costingSheet .costings TBODY TD:first-child,
	.costingSheet .costings TFOOT TD:first-child,
	.costingSheet .costings TFOOT TH:first-child {
		text-align:left;
		width:25em;
	}



.costingSheet .costings TBODY TH {
	text-align:left;
}
.costingSheet .costings TBODY TD {
	text-align:right;
}

	.costingSheet .costings TBODY TD:first-child {
		text-indent:18px;
	}

	/* Add space between tbody and tfoot: */
	/* Add space above and below tbody: */
	.costingSheet .costings TBODY TR:first-child TH,
	.costingSheet .costings TBODY TR:first-child TD {
		border-top:solid 1em transparent;
	}
	.costingSheet .costings TBODY TR:last-child TH,
	.costingSheet .costings TBODY TR:last-child TD {
		border-bottom:solid 1em transparent;
	}




.costingSheet .costings TFOOT TD,
.costingSheet .costings TFOOT TH {
	text-align:right;
}





/* PRICING table: */

.costingSheet .pricing THEAD TH {
	text-align:right;
}

	.costingSheet .pricing THEAD TH:first-child {
		text-align:left;
		width:18em;
	}

	.costingSheet .total.pricing THEAD TH:first-child {
		text-align:left;
		width:15em;
	}

	.costingSheet .pricing THEAD TH.set-gross {
		width:8em;
	}



.costingSheet .pricing TBODY TD,
.costingSheet .pricing TBODY TH {
	text-align:right;
	width:5em;
}

	.costingSheet .pricing TBODY TH:first-child,
	.costingSheet .pricing TBODY TD:first-child {
		text-align:left;
	}

	/* Add space above and below tbody: */
	.costingSheet .pricing TBODY TR:first-child TH,
	.costingSheet .pricing TBODY TR:first-child TD {
		border-top:solid 1em transparent;
	}
	.costingSheet .pricing TBODY TR:last-child TH,
	.costingSheet .pricing TBODY TR:last-child TD {
		border-bottom:solid 1em transparent;
	}




.costingSheet .pricing TFOOT TH,
.costingSheet .pricing TFOOT TD {
	text-align:right;
}

	.costingSheet .pricing TFOOT TH:first-child {
		text-align:left;
	}




/* Override standard form field styles: */
.costingSheet .pricing DIV.formField {
	display:inline;
	margin:0;
	min-height:1em;
	padding:0;
}
	.costingSheet .pricing DIV.formField INPUT {
		margin:0;
		width:6em;
	}





/* Table of invoices, AKA payment history: */

	TABLE.invoices {
		width:100%;
	}

	TABLE.invoices TH,
	TABLE.invoices TD {
		padding-left:1em;
		padding-right:1em;
	}








TABLE.invoice {
	max-width:40em;
}

TABLE.invoice TD,
TABLE.invoice TH {
	padding:0.25em;
}

TABLE.invoice TH {
	color:#000;
}
	TABLE.invoice TR.flights-table-headings TH {
		background-color:transparent;
		color:#000;
		text-align:left;
	}

	TABLE.invoice TR.flights-table-row:last-child TD {
		padding-bottom:1em;
		border-bottom:solid 1em;
	}



	/* Customise the standard checkboxList for use in the invoice: */

		TABLE.invoice .checkboxList LI {
			display:inline-block;
			vertical-align:bottom;
			width:auto;
		}

		TABLE.invoice .checkboxList LI LABEL {
			width:25em;
		}



	TABLE.invoice DIV.formField {
		display:inline;
		margin:0;
		padding:0;	
	}

		TABLE.invoice TFOOT TD:first-child DIV.formField INPUT {
			text-align:right;	
		}
		
		/* Increase default field width to allow for large totals in bold: */
		TABLE.invoice DIV.formField INPUT.widthHalfField[type="text"] {
			width:6em;
		}



TABLE.invoice TFOOT TD,
TABLE.invoice TFOOT TH {
	background-color:Transparent;
	text-align:left;
}

	TABLE.invoice TFOOT TD:first-child,
	TABLE.invoice TFOOT TH:first-child {
		text-align:right;
	}







.paper.width3Fields {
	background:url(/images/backgrounds/paper.bg.width3Fields.png) no-repeat left top;
	padding:2.75em;
	width:56em;
}